<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
</head>
<body>
    <div>
        <h1>{{ character.name }}</h1>
    </div>   
    <div>
        <form action="{% url 'update_bg' character.pk %}" method="POST">
            {% csrf_token %}
            <div>
                {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div>
                <button type="submit">Atualizar</button>
            </div>
        </form>
    </div>
</body>
</html>