{% include 'partials/_head.html' with page_title='Criar Personagem' %}
<body>
    {% include 'partials/_header.html' %}
    <h1>Crie seu personagem!</h1>
    <div>
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <div>
                {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div>
                <button type="submit">Criar</button>
            </div>
        </form>
    </div>
    {% include 'partials/_script.html' %}
</body>
</html>