{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <title>Alther Character Sheet</title>
</head>
<body>
    <h1>Ficha de Personagem</h1>
    <div class="main-information">
        <h2 class="char-name">Raeniel</h2>
        <p class="char-race">Rae</p>
        <p class="char-physical-information">50 ciclos</p>
        <p class="char-physical-information">110 kg</p>
        <p class="char-physical-information">1.90 m</p>
        <p class="char-aspiration">Ofensor</p>
    </div>
    <div class="school-information">
        <h3>Desbravadores do Vazio</h3>
    </div>
    <div class="level-information">
        <p class="char-level">Nível 1</p>
        <p class="char-xp">300 / 900 XP</p>
    </div>
    <div class="unbalance-information">
        <h2 class="char-unbalance-points">10 PD</h2>
    </div>
    <div class="attributes-information">
        <h2 class="attributes-header">Atributos</h2>
        <table>
            <tr>
                <th></th>
                <th>Atual</th>
                <th>Total</th>
                <th>Temp</th>
                <th>Treino</th>
            </tr>
            <tr>
                <th>Corpo</th>
                <th>10</th>
                <th>10</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Mente</th>
                <th>18</th>
                <th>18</th>
                <th></th>
                <th>1</th>
            </tr>
            <tr>
                <th>Foco</th>
                <th>10</th>
                <th>10</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Espírito</th>
                <th>18</th>
                <th>18</th>
                <th></th>
                <th>1</th>
            </tr>
            <tr>
                <th>Social</th>
                <th>10</th>
                <th>10</th>
                <th></th>
                <th>1</th>
            </tr>
            <tr>
                <th>Natureza</th>
                <th>15</th>
                <th>15</th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
    <div class="actions-information">
        <h2>Actions</h2>
        <table>
            <tr>
                <th>Ação</th>
                <th>d4</th>
                <th>d6</th>
                <th>d8</th>
                <th>d10</th>
                <th>d12</th>
                <th>d20</th>
                <th>Bônus</th>
                <th>Penalidade</th>
            </tr>
            <tr>
                <th>ACERTAR</th>
                <th>{{ action.nd4 }}</th>
                <th>{{ action.nd6 }}</th>
                <th>{{ action.nd8 }}</th>
                <th>{{ action.nd10 }}</th>
                <th>{{ action.nd12 }}</th>
                <th>{{ action.nd20 }}</th>
                <th>{{ action.flat_bonus }}</th>
                <th>{{ action.flat_penalty }}</th>
                <th>
                    <button onclick="rollActionDice()">Rolar</button></a>
                </th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
    <script>
        var result = "{{ result }}"
        function rollActionDice() {
            console.log(result)
        }
    </script>
</body>
</html>