{% load static %}
{% include 'partials/_head.html' with page_title='Ficha de Personagem' %}
<body>
    {% include 'partials/_alerts.html' %}
    <h1>Ficha de Personagem</h1>
    <a href="{% url 'logout' %}">Logout</a>
    <div class="main-information" data-character="{{ character.pk }}">
        <h2 class="char-name">{{ character.name }}</h2>
        <p class="char-race">{{ character.race }}</p>
        <p class="char-physical-information">{{ character.age }} ciclos</p>
        <p class="char-physical-information">{{ character.weight }} kg</p>
        <p class="char-physical-information">{{ character.height }} m</p>
        <p class="char-aspiration">{{ character.aspiration }}</p>
    </div>
    <div class="school-information">
        <h3>{{ character.school }}</h3>
    </div>
    <div>
        <form action="{% url 'update_bg' character.pk %}" method="GET">
            <input type="submit" value="Editar">
        </form>
    </div>
    <div class="level-information">
        <p class="char-level">Nível {{ character.level }}</p>
        <span>XP</span>   
        <p class="char-xp" id="char-xp-current">{{ character.xp_current }} / </p>
        <input type="number" value="{{ character.xp_total }}" class="char-xp" id="input-char-xp">
        <div>
            <form action="{% url 'evolve' character.pk %}">
                <input type="submit" value="Evoluir">
            </form>
        </div>
    </div>
    <div class="health-information">
        <div class="unbalance-points">
            <label class="unbalance-points" for="input-unbalance-points">PD</label>
            <input type="number" value="{{ character.unbalance }}" class="unbalance-points" id="input-unbalance-points">
        </div>
        <div class="health-points">
            <h2 class="health-points">Pontos de Vida</h2>
            <table class="health-points-table">
                <tr>
                    <th>Atual</th>
                    <th>Total</th>
                    <th>Temp</th>
                </tr>
                <tr>
                    <td><input type="text" class="health-points" value="{{ character.hp_current }}" id="input-health-points-current"></td>
                    <td><input type="text" class="health-points" value="{{ character.hp_total }}" id="input-health-points-total"></td>
                    <td><input type="text" class="health-points" value="{{ character.hp_temp }}" id="input-health-points-temp"></td>
                </tr>
            </table>
        </div>
    </div>    
    <div class="attributes-information">
        <div class="attributes-information" id="attributes-info-header">
            <form action="{% url 'update_attributes' character.pk %}" id="attributes-info-form">
                <h2 class="attributes-header">Atributos</h2>
                <input type="submit" value="Editar">
            </form>            
        </div>
        <table>
            <tr>
                <th>Atributo</th>
                <th></th>
                <th>Atual</th>
                <th></th>
                <th>Total</th>
                <th>Temp</th>
                <th>Treino</th>
            </tr>
            {% for attribute in attributes %}
            <tr>
                <td>{{ attribute.type }}</td>                
                <td><button class="button-manipulate-attr" value="{{ attribute.pk }}" id="decrement-{{ attribute.type }}">-</button></td>
                <td id="current-{{ attribute.pk }}">{{ attribute.current_value }}</td>
                <td><button class="button-manipulate-attr" value="{{ attribute.pk }}" id="increment-{{ attribute.type }}">+</button></td>
                <td id="total-{{ attribute.pk }}">{{ attribute.total_value }}</td>
                <td>{{ attribute.temp_value }}</td>
                <td>{{ attribute.training_level }}</td>
            </tr>
            {% endfor %}            
        </table>
    </div>
    <div class="actions-information">
        <div class="actions-information" id="actions-info-header">
            <form action="{% url 'update_actions' character.pk %}" id="actions-info-form">
                <h2 class="actions-header">Ações</h2>
                <input type="submit" value="Editar">
            </form>            
        </div>
        <table>
            <tr>
                <th>Ação</th>
                <th>d4</th>
                <th>d6</th>
                <th>d8</th>
                <th>d10</th>
                <th>d12</th>
                <th>d20</th>
                <th>Bônus</th>
                <th>Penalidade</th>
                <th></th>
            </tr>
            {% for action in actions %}
            <tr>
                <td>{{ action.type }}</td>
                <td>{{ action.nd4 }}</td>
                <td>{{ action.nd6 }}</td>
                <td>{{ action.nd8 }}</td>
                <td>{{ action.nd10 }}</td>
                <td>{{ action.nd12 }}</td>
                <td>{{ action.nd20 }}</td>
                <td>{{ action.flat_bonus }}</td>
                <td>{{ action.flat_penalty }}</td>        
                <td>
                    <button type="button" class="roll-button action" value="{{ action.pk }}">Rolar</button>
                </td>
                <td class="roll-result action" id="action-{{ action.pk }}"></td>
            </tr>
            {% endfor %}            
        </table>
    </div>
    <div class="path-information" id="path-selection">
        <h2>Caminhos</h2>
        <h3>Ativo:</h3>
        <select class="path-information" name="path-select" id="active-path-select">
            {% for path in available_paths %}
                {% if path.pk == active_path.pk %}
                    <option value="{{ path.pk }}" selected>{{ path.path_ID }}</option>
                {% else %}
                    <option value="{{ path.pk }}">{{ path.path_ID }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <table>
            <tr>
                <th>PC Atual</th>
                <th>PC Total</th>
                <th>Nível</th>
                <th>Mestre</th>
            </tr>
            <tr>
                <td id="active-current-pp">{{ active_path.current_pp }}</td>
                <td id="active-total-pp">
                    <input type="number" value="{{ active_path.total_pp }}">
                </td>
                <td id="active-level">{{ active_path.level }}</td>
                <td id="active-is-master">
                    {% if active_path.is_master %}
                        &#x2713;
                    {% endif %}
                </td>
            </tr>
        </table>
        <form action="{% url 'skills' character.pk %}">
            <input type="submit" value="Aprender Habilidades">
        </form>
    </div>
    <div class="skills-information">
        <h2>Habilidades</h2>
        <table id="equip-skills-table">
            <tr>
                <th>Slot</th>
                <th>Habilidade</th>
                <th>Descrição</th>
            </tr>            
            <tr>
                <td>Intrínseca</td>
                <td id="intrinsic-skill-name">{{ equipped_skills.intrinsic.name }}</td>
                <td id="intrinsic-skill-description">{{ equipped_skills.intrinsic.description }}</td>
            </tr>
            {% for slot, equipped_skill in equipped_skills_dict.items %}
                <tr>
                    <td>{{ slot }}</td>
                    <td id="{{ slot }}-skill">
                        <select name="{{ slot }}-skill-select" class="skill-information" data-slot="{{ slot }}">
                            {% if equipped_skill is None %}
                                <option value="0" selected>-------------</option>
                            {% else %}
                                <option value="0">-------------</option>
                            {% endif %}
                            {% for skill in available_skills %}
                                {% if skill.skill_ID.category.lower in slot %}
                                    {% if equipped_skill.pk == skill.skill_ID.pk %}
                                        <option value="{{ skill.skill_ID.pk }}" selected>{{ skill.skill_ID.name }}</option>
                                    {% else %}
                                        <option value="{{ skill.skill_ID.pk }}">{{ skill.skill_ID.name }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                        </td>
                        <td id="{{ slot }}-skill-description">{{ equipped_skill.description }}</td>
                </tr>
            {% endfor %}           
        </table>
    </div>

    <div class="miscelanous-information">
        <div class="inventory">
            <label for="input-coin" class="inventory">Moeda: </label>
            <input type="text" id="input-coin" class="inventory" value="{{ character.coin }}">
            <label for="input-inventory" class="inventory">Inventário</label>
            <textarea class="inventory" id="input-inventory" rows="10" cols="50">{{ character.inventory }}</textarea>
        </div>
        <div class="annotations">
            <label for="input-annotations" class="annotations">Anotações: </label>
            <textarea id="input-annotations" cols="50" rows="10" class="annotations">{{ character.annotations }}</textarea>
        </div>
    </div>

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
    {% endblock javascript %}
</body>
</html>