{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <title>Alther Character Sheet</title>
</head>
<body>
    {% include 'partials/_alerts.html' %}
    <h1>Ficha de Personagem</h1>
    <div class="main-information" data-character="{{ character.pk }}">
        <h2 class="char-name">{{ character.name }}</h2>
        <p class="char-race">{{ character.race }}</p>
        <p class="char-physical-information">{{ character.age }} ciclos</p>
        <p class="char-physical-information">{{ character.weight }} kg</p>
        <p class="char-physical-information">{{ character.height }} m</p>
        <p class="char-aspiration">{{ character.aspiration }}</p>
    </div>
    <div class="school-information">
        <h3>{{ character.school }}</h3>
    </div>
    <div class="level-information">
        <p class="char-level">Nível {{ character.level }}</p>
        <span>XP</span>   
        <p class="char-xp" id="char-xp-current">{{ character.xp_current }} / </p>
        <input type="number" value="{{ character.xp_total }}" class="char-xp" id="input-char-xp">
    </div>
    <div class="health-information">
        <div class="unbalance-points">
            <label class="unbalance-points" for="input-unbalance-points">PD</label>
            <input type="number" value="{{ character.unbalance }}" class="unbalance-points" id="input-unbalance-points">
        </div>
        <div class="health-points">
            <h2 class="health-points">Pontos de Vida</h2>
            <table class="health-points-table">
                <tr>
                    <th>Atual</th>
                    <th>Total</th>
                    <th>Temp</th>
                </tr>
                <tr>
                    <th><input type="text" class="health-points" value="{{ character.hp_current }}" id="input-health-points-current"></th>
                    <th><input type="text" class="health-points" value="{{ character.hp_total }}" id="input-health-points-total"></th>
                    <th><input type="text" class="health-points" value="{{ character.hp_temp }}" id="input-health-points-temp"></th>
                </tr>
            </table>
        </div>
    </div>    
    <div class="attributes-information">
        <h2 class="attributes-header">Atributos</h2>
        <table>
            <tr>
                <th>Atributo</th>
                <th></th>
                <th>Atual</th>
                <th></th>
                <th>Total</th>
                <th>Temp</th>
                <th>Treino</th>
            </tr>
            {% for attribute in attributes %}
            <tr>
                <th>{{ attribute.type }}</th>
                <th><button class="button-manipulate-attr" value="{{ attribute.pk }}" id="increment-{{ attribute.type }}">+</button></th>
                <th id="current-{{ attribute.pk }}">{{ attribute.current_value }}</th>
                <th><button class="button-manipulate-attr" value="{{ attribute.pk }}" id="decrement-{{ attribute.type }}">-</button></th>
                <th id="total-{{ attribute.pk }}">{{ attribute.total_value }}</th>
                <th>{{ attribute.temp_value }}</th>
                <th>{{ attribute.training_level }}</th>
            </tr>
            {% endfor %}            
        </table>
    </div>
    <div class="actions-information">
        <h2>Ações</h2>
        <table>
            <tr>
                <th>Ação</th>
                <th>d4</th>
                <th>d6</th>
                <th>d8</th>
                <th>d10</th>
                <th>d12</th>
                <th>d20</th>
                <th>Bônus</th>
                <th>Penalidade</th>
                <th></th>
            </tr>
            {% for action in actions %}
            <tr>
                <th>{{ action.type }}</th>
                <th>{{ action.nd4 }}</th>
                <th>{{ action.nd6 }}</th>
                <th>{{ action.nd8 }}</th>
                <th>{{ action.nd10 }}</th>
                <th>{{ action.nd12 }}</th>
                <th>{{ action.nd20 }}</th>
                <th>{{ action.flat_bonus }}</th>
                <th>{{ action.flat_penalty }}</th>        
                <th>
                    <button type="button" class="roll-button action" value="{{ action.pk }}">Rolar</button>
                </th>
                <th>
                    <p class="roll-result action" id="action-{{ action.pk }}"></p>
                </th>
            </tr>
            {% endfor %}            
        </table>
    </div>
    <div class="path-information">
        <h2>Caminhos</h2>
        <h3>Ativo:</h3>
        <p>{{ active_path.path_ID }}</p>
        <table>
            <tr>
                <th>PC Atual</th>
                <th>PC Total</th>
                <th>Nível</th>
                <th>Mestre</th>
            </tr>
            <tr>
                <th>{{ active_path.current_pp }}</th>
                <th>{{ active_path.total_pp }}</th>
                <th>{{ active_path.level }}</th>
                <th>{{ active_path.is_master }}</th>
            </tr>
        </table>
    </div>
    <div class="skills-information">
        <h2>Habilidades</h2>
        <table>
            <tr>
                <th>Slot</th>
                <th>Habilidade</th>
                <th>Descrição</th>
            </tr>            
            <tr>
                <th>Intrínseca</th>
                <th>{{ equipped_skills.intrinsic.name }}</th>
                <th>{{ equipped_skills.intrinsic.description }}</th>
            </tr>
            <tr>
                <th>Padrão 1</th>
                <th>{{ equipped_skills.main_1.name }}</th>
                <th>{{ equipped_skills.main_1.description }}</th>
            </tr>
            <tr>
                <th>Padrão 2</th>
                <th>{{ equipped_skills.main_2.name }}</th>
                <th>{{ equipped_skills.main_2.description }}</th>
            </tr>
            <tr>
                <th>Padrão 3</th>
                <th>{{ equipped_skills.main_3.name }}</th>
                <th>{{ equipped_skills.main_3.name }}</th>
            </tr>
            <tr>
                <th>Padrão 4</th>
                <th>{{ equipped_skills.main_4.name }}</th>
                <th>{{ equipped_skills.main_4.description }}</th>
            </tr>
            <tr>
                <th>Suporte 1</th>
                <th>{{ equipped_skills.support_1.name }}</th>
                <th>{{ equipped_skills.support_1.description }}</th>
            </tr>
            <tr>
                <th>Suporte 2</th>
                <th>{{ equipped_skills.support_2.name }}</th>
                <th>{{ equipped_skills.support_2.description }}</th>
            </tr>
            <tr>
                <th>Reação</th>
                <th>{{ equipped_skills.reaction.name }}</th>
                <th>{{ equipped_skills.reaction.description }}</th>
            </tr>
            <tr>
                <th>Movimento</th>
                <th>{{ equipped_skills.movement.name }}</th>
                <th>{{ equipped_skills.movement.description }}</th>
            </tr>
            <tr>
                <th>Perfeita</th>
                <th>{{ equipped_skills.perfect.name }}</th>
                <th>{{ equipped_skills.perfect.description }}</th>
            </tr>
        </table>
    </div>

    <div class="miscelanous-information">
        <div class="inventory-information">
            <label for="input-coin" class="inventory-information">Moeda: </label>
            <input type="text" id="input-coin" class="inventory-information" value="{{ character.coin }}">
            <label for="input-inventory" class="inventory-information">Inventário</label>
            <textarea class="inventory-information" id="input-inventory" rows="10" cols="50">
                {{ character.inventory }}
            </textarea>
        </div>
        <div class="annotations">
            <label for="input-annotations" class="annotations">Anotações: </label>
            <textarea id="input-annotations" cols="50" rows="10" class="annotations">
                {{ character.annotations }}
            </textarea>
        </div>
    </div>

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
    {% endblock javascript %}
</body>
</html>