{% include 'partials/_head.html' with page_title='Personagens' %}
<body>
    {% include 'partials/_header.html' %}
    <div>
        <h1>Escolha seu Personagem, {{ request.user.username }}</h1>
    </div>
    <div>
        <form action="{% url 'main' %}" method="POST">
            {% csrf_token %}
            {% for character in characters %}
                <button type="submit" value="{{ character.pk }}" name="character">{{ character.name }}</button>
            {% endfor %}
        </form>
    </div>
    <div>
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="create" id="button-create-character" value="Novo Personagem">
        </form>
    </div>
    <div>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    </div>
</body>
</html>