{% include 'partials/_head.html' with page_title='Login Jogador' %}
<body>
    {% include 'partials/_alerts.html' %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
        </div>
        {% endfor %}
        <div>
            <button type="submit">Entrar</button>
        </div>
    </form>
</body>
</html>