{% include 'partials/_head.html' with page_title='Registro de Jogador' %}
<body>
    {% include 'partials/_header.html' %}
    {% include 'partials/_alerts.html' %}
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
        </div>
        {% for error in field.errors %}
        <div>
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
    {% include 'partials/_script.html' %}
</body>
</html>